{% extends 'layout.html' %}
{% block header %}
    {% include 'page-header.html' with title="Home" description="This is what I do" image='assets/img/about-bg.jpg'%}
{% endblock header %}
{% block main %}
{% for message in messages %}
    <div class="fixed-top position-absolute top-0 alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong>{{message}}</strong>
    </div>
{% endfor %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <p>{{description}}</p>
        </div>
    </div>
</div>
{% endblock main %}