{% extends 'layout.html' %}
{% block header %}
    {% include 'page-header.html' with title="Contact ME" description="Have question? I have answers." image="assets/img/contact-bg.jpg"%}
{% endblock header %}
{% block main %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
            {% if success %}
                <div id="result-info" class="bg-success text-white rounded shadow p-5">
                    Mesajiniz ugurla gonderildi!
                </div>
            {% endif %}
            <div class="my-5">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm"   action="{% url 'contact' %}#result-info" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-floating">
                            {{field}}
                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                            {% for error in field.errors %}
                                <small class="text-danger">{{error}}</small>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    
                    <br />
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <! <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <button class="btn btn-primary text-uppercase " type="submit">Send</button>
                </form> 
                
            </div>
        </div>
    </div>
</div>
{% endblock main %}