{% extends 'layout.html' %}
{% block header %}
    {% include 'page-header.html' with title="Blog" description="All articles for read!" image="assets/img/home-bg.jpg" %}
{% endblock header %}
{% block main %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="position-absolute">
            <h1>Authors</h1>
            <ul>
                {% for author in authors %}
                    <li><a href={% url 'user_blog' author.id %}>{{author.first_name}} {{author.last_name}} - {{author.posts.count}}</a></li>
                {% endfor %} 
            </ul>
            
        </div>
        
        <div class="col-md-10 col-lg-8 col-xl-7" style="z-index: 10;">
            <label for="search">Title</label>
            <form action={% url 'search' %} method="get" class="d-flex">
                <input id="search" class="form-control me-2" name="search" type="text">
                <button type="submit" class="btn btn-secondary">Search</button>
            </form>
            <!-- Post preview-->
            {% for post in posts %}
                {% if post.visible or user == post.owner %}
                    <div class="post-preview">
                        <a href={% url 'post' post.id %}>
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">{{post.explanation}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href={% url 'user_blog' post.owner.id %}>{{post.owner}}</a>
                            on {{post.time}}
                        </p>
                    
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                {% endif %}
            {% endfor %}
            {% if  posts%}
            <nav aria-label="...">
                <ul class="pagination">
                {% if posts.has_previous%}
                  <li class="page-item">
                    <a class="page-link" href="{% url 'blog' %}?page={{posts.previous_page_number}}">Previous</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                  </li>
                {% endif %}
                {% for page_number in posts.paginator.page_range %}
                {% if page_number == posts.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="{% url 'blog' %}?page={{page_number}}">{{page_number}}</a>
                    </li>
                {% else %}
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="{% url 'blog' %}?page={{page_number}}">{{page_number}}</a>
                    </li>
                {% endif %}
                
                {% endfor %}
                {% if posts.has_next%}
                  <li class="page-item">
                    <a class="page-link" href="{% url 'blog' %}?page={{posts.next_page_number}}">Next</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <span class="page-link">Next</span>
                  </li>
                {% endif %}
                </ul>
              </nav>
              {% endif %}
            <h1>Tracking Information</h1>
            <p>Article count: {{article_count}}</p>
            <p>Avarage: {{post_statistics.avg}}</p>
            <p>Minimum: {{post_statistics.min}}({% for article in min_view_article %}{% if forloop.last%}{{article.title}}{% else %}{{article.title}}, {% endif %}{% endfor %})</p>
            <p>Maximum: {{post_statistics.max}}({% for article in max_view_article %}{% if forloop.last%}{{article.title}}{% else %}{{article.title}}, {% endif %}{% endfor %})</p>
            <p>Total: {{post_statistics.sum}}</p>
            <!-- Pager-->
        </div>
    </div>
</div>{% endblock main %}