{% extends 'layout.html' %}
{% load static %}
{% block header %}
    {% include 'post-header.html' with title=post.title description=post.explanation owner=post.owner time=post.time image=post.image.url%}
{% endblock header %}
{% block main %}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{post.content}}</p>
                <div>View count: {{post.view_count}}</div>
                {% if other_posts %}
                    <div>Other articles from author {% for post in other_posts %} <a href={{post.get_absolute_url}} class="link-primary">{% if forloop.last %}<u>{{post.title}}</u>{% else %}<u>{{post.title}}</u>, {% endif %}</a> {% endfor %} </div>
                {% endif %}
                {% if user == post.owner %}
                    <div class="d-flex justify-content-evenly my-5">
                        <a name="" id="" class="btn btn-primary" href={% url 'edit_article' post.id%} role="button">Edit</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalId">Delete</button>
                    </div>
                   
                    <!-- Modal -->
                    <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                    <div class="modal-header">
                                            <h5 class="modal-title" id="modalTitleId">{{post.title}}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        Do you want to delete this article?
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a name="" id="" class="btn btn-danger" href={% url 'delete_article' post.id%} role="submit">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <script>
                        var modalId = document.getElementById('modalId');
                    
                        modalId.addEventListener('show.bs.modal', function (event) {
                              // Button that triggered the modal
                              let button = event.relatedTarget;
                              // Extract info from data-bs-* attributes
                              let recipient = button.getAttribute('data-bs-whatever');
                    
                            // Use above variables to manipulate the DOM
                        });
                    </script>
                    
                {% endif %}
            </div>
        </div>
    </div>
</article>
{% endblock main %}

